a:focus{
    outline: none !important;
}
a:hover{
    text-decoration: none !important;
}
a:focus{
    text-decoration: none !important;
}
.section.sub-page{
    width:800px;
    margin:0 auto;
    overflow: hidden;
}
.section.sub-page.isShowPro .wrap{
    width:45% !important;
}
.section.sub-page .page-nav{
    position: relative;
    width:100%;
    height:50px;
    line-height:50px;
    background-color: rgba(0,0,0,.7);
}
.section.sub-page .page-nav .wrap{
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
}
.section.sub-page .page-nav .wrap a{
    position: relative;
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-overflow: ellipsis;
    word-break: normal;
}
.section.sub-page .page-nav .wrap a.current::after{
    position: absolute;
    content: '';
    bottom:-30px;
    left:50%;
    transform: translateX(-50%);
    border-width:15px;
    border-style:solid;
    border-color:rgba(0,0,0,.7) transparent transparent transparent;
}
.section.sub-page .page-nav .wrap a:hover{
    color:#ccc;
}
.section.sub-page .mobanvip{
    padding: 10px 20px 130px;
    overflow: hidden;
    background-color: #fff;
}
.section.sub-page .mobanvip .title{
    text-align: center;
}
.section.sub-page .mobanvip .title h3{
    width:100%;
    font-size:42px;
}
.section.sub-page .mobanvip .title p {
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin: 20px 0;
    line-height: 180%;
}

.section.sub-page .mobanvip .title p::before,
.section.sub-page .mobanvip .title p::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 200px;
    height: 1px;
    margin-top: -0.5px;
    background-image: none;
    background-color: #d4d4d4;
    opacity: 0.5;
}

.section.sub-page .mobanvip .title p::before {
    right: 110%;
}

.section.sub-page .mobanvip .title p::after {
    left: 110%;
}
.mobanvip {
    font-size:18px;
}
.mobanvip .text {
    line-height:250%;
}
.mobanvip .text span{
    line-height:2;
    font-size:16px;
}
@media screen and (max-width:1024px){
    .section.sub-page{
        width:100%;
     
    }
    .section.sub-page.isShowPro .wrap{
        width:70% !important;
    }
    .section.sub-page .mobanvip .title h3{
        font-size: 24px;
    }
}
@media screen and (max-width:580px){
    .section.sub-page .page-nav .wrap{
        width:3000px !important;
        position: relative;
        left:0;
        transform: translateX(0);
        display: inline-block;
        text-align: left;
    }
    .section.sub-page .page-nav .wrap a{
        padding:0 15px;
    }
    .section.sub-page .page-nav .wrap a::after{
        bottom:-47px !important;
    }
    .section.sub-page .mobanvip .title h3{
        font-size: 18px;
    }
}